node_modules/
dist/
frontend/dist/
backend/node_modules/
frontend/node_modules/

database/*.sqlite
database/*.sqlite-*

.env
.env.*
!.env.example
!.env.static

.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
